.explorer {
    $hover-bg: rgb(226, 226, 226);

    padding: 10px;
    overflow: hidden scroll;
    cursor: pointer;
    user-select: none;

    ul,
    li {
        padding: 0;
        margin: 0;
    }

    .fs-item__name:hover {
        background-color: $hover-bg;
    }

    .folder-item {
        &__list {
            position: relative;

            &__guide {
                position: absolute;
                width: 0;
                height: 100%;
                border-left: 1px dashed rgba(166, 163, 163, 50%);
            }
        }

        &__name {
            &__arrow--expanded {
                display: inline-block;
                transform: rotate(90deg);
            }
        }

        &:hover {
            > .folder-item__list > .folder-item__list__guide {
                border-left-color: black;
            }
        }
    }

    .file-item {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
