.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin: 60px auto;

    .count {
        font-size: 24px;
        font-weight: bold;
    }

    button {
        &:first-child {
            margin-right: 10px;
        }
    }
}
