html,
body,
main,
nav,
p {
    padding: 0;
    margin: 0;
}

.app {
    display: flex;
    align-items: center;

    .explorer {
        box-sizing: border-box;
        height: 100dvh;
        background-color: rgb(244, 244, 244);
    }

    .resizer {
        width: 4px;
        height: calc(100dvh - 8px);
        border-radius: 4px;
        opacity: 0;
        transition: opacity 0.2s ease-in;

        &:hover {
            cursor: ew-resize;
            background-color: rgb(150, 150, 150);
            opacity: 1;
        }
    }

    main {
        box-sizing: border-box;
        flex: 1;
        height: 100dvh;
        overflow: scroll;
        background-color: white;

        .breadcrumbs {
            background: rgba(240, 240, 240);
        }

        pre {
            padding: 0 10px;
        }

        button {
            display: block;
            margin: 60px auto;
        }
    }
}
