html,
body,
main,
nav {
    padding: 0;
    margin: 0;
}

.app {
    display: flex;

    .explorer {
        box-sizing: border-box;
        width: 260px;
        height: 100dvh;
    }

    main {
        box-sizing: border-box;
        flex: 1;
        height: 100dvh;
        padding: 2px 10px;
        overflow: scroll;

        button {
            display: block;
            margin: 60px auto;
        }
    }
}
